/*
 * Hoja de estilos global.
 * Para cambiar de tema, edita solamente src/styles/themes/_active-theme.scss
 */
@use './styles/variables';
@use './styles/themes/active-theme';

html,
body {
  min-height: 100%;
}

.fade-view {
  animation: fade-in 200ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-control.is-invalid,
.form-select.is-invalid,
textarea.form-control.is-invalid {
  border-color: var(--bs-danger);
}
